Arvato.TestProject.UsrMgmt.UI.Desktop/Service References/Services.Booking/Arvato.TestProject.UsrMgmt.Services.Contracts.DataContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Services.Contracts.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Services.Contracts.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" />
  <xs:complexType name="RoomClashFault">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" minOccurs="0" name="Clashes" nillable="true" type="q1:ArrayOfBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomClashFault" nillable="true" type="tns:RoomClashFault" />
  <xs:complexType name="AssetClashFault">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" minOccurs="0" name="Clashes" nillable="true" type="q2:ArrayOfAssetBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetClashFault" nillable="true" type="tns:AssetClashFault" />
</xs:schema>