Arvato.TestProject.UsrMgmt.UI.Desktop/Service References/Services.Asset/Arvato.TestProject.UsrMgmt.Entity.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAsset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asset" nillable="true" type="tns:Asset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsset" nillable="true" type="tns:ArrayOfAsset" />
  <xs:complexType name="Asset">
    <xs:sequence>
      <xs:element name="_x003C_CreatedBy_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CreatedDateTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsEnabled_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_ModifiedBy_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ModifiedDateTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoomID_x003E_k__BackingField" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asset" nillable="true" type="tns:Asset" />
</xs:schema>