Arvato.TestProject.UsrMgmt.UI.Desktop/Service References/Services.Room/Arvato.TestProject.UsrMgmt.Entity.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element name="_x003C_Capacity_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsEnabled_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Location_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
</xs:schema>