Arvato.TestProject.UsrMgmt.Services.ConsoleApp/Service References/ServiceReference1/Arvato.TestProject.UsrMgmt.Entity.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element name="_x003C_AssetBookings_x003E_k__BackingField" nillable="true" type="tns:ArrayOfAssetBooking" />
      <xs:element name="_x003C_DateCreated_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_EndDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsCanceled_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_RefNum_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Room_x003E_k__BackingField" nillable="true" type="tns:Room" />
      <xs:element name="_x003C_StartDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_User_x003E_k__BackingField" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="ArrayOfAssetBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetBooking" nillable="true" type="tns:AssetBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetBooking" nillable="true" type="tns:ArrayOfAssetBooking" />
  <xs:complexType name="AssetBooking">
    <xs:sequence>
      <xs:element name="_x003C_Asset_x003E_k__BackingField" nillable="true" type="tns:Asset" />
      <xs:element name="_x003C_Booking_x003E_k__BackingField" nillable="true" type="tns:Booking" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetBooking" nillable="true" type="tns:AssetBooking" />
  <xs:complexType name="Asset">
    <xs:sequence>
      <xs:element name="_x003C_AssetBooking_x003E_k__BackingField" nillable="true" type="tns:ArrayOfAssetBooking" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsEnabled_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Room_x003E_k__BackingField" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asset" nillable="true" type="tns:Asset" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element name="_x003C_Asset_x003E_k__BackingField" nillable="true" type="tns:ArrayOfAsset" />
      <xs:element name="_x003C_Booking_x003E_k__BackingField" nillable="true" type="tns:ArrayOfBooking" />
      <xs:element name="_x003C_Capacity_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsEnabled_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Location_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="ArrayOfAsset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asset" nillable="true" type="tns:Asset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsset" nillable="true" type="tns:ArrayOfAsset" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_x003C_Booking_x003E_k__BackingField" nillable="true" type="tns:ArrayOfBooking" />
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsWindowAuthenticate_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LoginID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Password_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>