Arvato.TestProject.UsrMgmt.Services.ConsoleApp/Service References/ServiceReference1/Arvato.TestProject.UsrMgmt.Services.Contracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Services.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Services.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" />
  <xs:complexType name="BookingsData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" minOccurs="0" name="Bookings" nillable="true" type="q1:ArrayOfBooking" />
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsCanceled" type="xs:boolean" />
      <xs:element minOccurs="0" name="RoomId" type="xs:int" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingsData" nillable="true" type="tns:BookingsData" />
</xs:schema>