Arvato.TestProject.UsrMgmt.Services.ConsoleApp/Service References/ServiceReference1/Arvato.TestProject.UsrMgmt.Entity.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Arvato.TestProject.UsrMgmt.Entity.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetBookings" nillable="true" type="tns:ArrayOfAssetBooking" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsCanceled" type="xs:boolean" />
      <xs:element minOccurs="0" name="RefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomID" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="ArrayOfAssetBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetBooking" nillable="true" type="tns:AssetBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetBooking" nillable="true" type="tns:ArrayOfAssetBooking" />
  <xs:complexType name="AssetBooking">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetID" type="xs:int" />
      <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetBooking" nillable="true" type="tns:AssetBooking" />
</xs:schema>